form {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button {
    width: fit-content;
}

label {
    color: white;
}

#error-message {
    color: white;
    padding: 20px 0px 10px 0px !important;
}