.header {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;

    color:#c395ee;
}
.menu-button {
    margin: 0 5px;
}

p {
  margin: 0;
}

#addButton {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    --radius: 2rem;
    height: calc(2 * var(--radius));
    width: calc(2 * var(--radius));
    border-radius: var(--radius);
    background-color: #8a2be2;
    border: solid 1px #8a2be2;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 2.7rem;
    display: flex;
}

#addButton p{
  position: relative;
  top: -0.2rem;
}

.btn-outline-danger {
    color: #c395ee !important;
    border: 2px solid #c395ee !important;
}

.btn-outline-danger:active, .btn-outline-danger:hover{
    background-color: #c395ee !important;
    color: white !important;
    border: 2px solid #c395ee !important;
}

@media (max-width: 576px){.modal-dialog.modal-dialog-slideout {width: 80%}}
.modal-dialog-slideout {min-height: 100%; margin: 0 auto 0 0 ;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(-100%,0);transform: translate(-100%,0);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);flex-flow: column;}
.modal-dialog-slideout .modal-content{border: 0;}